In [72]:
import pandas as pd
import numpy as np

In [73]:
data = pd.read_csv('Groceries_data.csv', sep = ',', header = None)

In [74]:
# have the first row as the header and drop first row
data.columns = data.iloc[0]
data = data.drop(data.index[0])

In [75]:
# Data Preprocessing
# 1. Remove the NaN values
data.isnull().sum()

# 2. Remove the duplicates
data = data.drop_duplicates()

In [76]:
print("Data Types",data.dtypes)
data.describe()

Data Types 0
Member_number      object
Date               object
itemDescription    object
year               object
month              object
day                object
day_of_week        object
dtype: object

,Member_number,Date,itemDescription,year,month,day,day_of_week
count,38006,38006,38006,38006,38006,38006,38006
unique,3898,728,167,2,12,31,7
top,3180,2015-01-21,whole milk,2015,8,28,3
freq,35,96,2363,19981,3435,1347,5630

In [77]:
cnt=0
for i in data['itemDescription'].value_counts()>100:
    if i == True:
        cnt+=1
print("Number of items that are bought more than 100 times:",cnt)

Number of items that are bought more than 100 times: 77

In [78]:
# Remove the items which were bought less than 100 times
data = data.dropna(axis = 1, thresh = 100)

In [97]:
support = 0.01
confidence = 0.2

unique_items = []
# 1. Find the unique items
unique_items = data['itemDescription'].unique()
# unique_items

## Apriori Algorithm

list